/* rounded border */
hr.rounded{
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

/* Headers */
h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2.center{
    text-align: center;
}

h5.center{
    text-align: center;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Paragraphs */
p.garamond{
    font-family:garamond;
}

p.times{
    font-family: 'Times New Roman', Times, serif;
}

p.italic{
    font-style: italic;
}